body {
	font-family: "Verdana";
	background-color: black;
	text-align: center;
	color: white;
}

h1 {
	font-size: 50px;
	color: white;
	font-weight: normal;	
}


.dw-link {
	color: aquamarine;
	font-size: 16px;
}

h2 {
	font-weight: 300;
	font-size: 42px;
}

.about {
	font-size: 21px;
	color: gray;
}

footer {
	color: gray;
	text-align: right;
}
